.panel > aside{
    color :var(--clr-second);
    width: 20%;
    height: auto;
    background: var(--clr-black);
    padding: 5px;
    text-align: left;
    /* //var(--clr-black); */
}

.panel > aside > div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
}

.panel h2 {
    color :var(--clr-second);
    font-size: 20px;
}

#listeProjets{
    list-style-type: none;
    padding-left: 0;
}

li{
    cursor: pointer;
    padding-left: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

li:hover, .active{
    background-color: var(--clr-yellow);
    color: var(--clr-black);
}

.active i{
    color: var(--clr-black);
}

li i, #creerProjet i {
    color: #f5cb5c;
}

#creerProjet i:hover {
    color: #ddb548;
}

#creerProjet i {
    font-size: 25px;
}

li:hover i {
    color: var(--clr-black);

}

li:active{
    background-color: var(--clr-yellow);
}

li div {
    margin-right: 15px;
}

@media (max-width: 900px) {
    .panel > aside > div {
        justify-content: center;
    }
    #creerProjet i {
        margin : 0 10px;
    }
}