.panel section {
    background: var(--clr-second);
}

.statuts {
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#titreTache {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

#titreTache a {
    text-decoration: none;
    visibility: hidden;
}

#titreTache i {
    margin: 10px;
    font-size: 25px;
}

#titreTache h2 {
    color: var(--clr-black);
    font-size: 20px;
}

.statut {
    min-width: 20%;
    width: auto;
    height: 55vh;
    background: var(--clr-first);
    border-radius: 15px;
    box-shadow: 0 0 10px 1px rgb(127, 127, 127);
    padding: 5px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list {
    min-height: 90%;
    /*lorsque la taille est dépasser je veux qu'on scroll*/
    overflow-y: auto;
    /*il ne faut pas caché le h3 */
    margin-top: auto;
}

.statut h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 5px;
}

.taches {
    background-color: #F47979;
    min-height: 12vh;
    min-width: 30vh;
    padding: 15px;
    margin: 5px 0;
    border-radius: 15px;
    cursor: pointer;
}

.taches>div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.taches h4,
p {
    color: white;
    font-size: 15px;
}

.taches p span {
    text-decoration: underline;
}

.taches h4 {
    font-weight: bold;
}

input[type="checkbox"] {
    width: 12px;
    /* Largeur */
    height: 12px;
    /* Hauteur */
    transform: scale(2);
    /* Mise à l'échelle */
}

#BtnPuce {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
    visibility: hidden;
}

#BtnPuce input[type="radio"] {
    margin: 0 5px 5px 5px;
}

#BtnAllumer {
    background-color: var(--clr-black);
    visibility: hidden;
}

@media screen and (max-width: 1500px) {
    .statut {
        min-width: none;
    }
}

@media screen and (min-width: 1300px) and (max-width: 1500px) {
    .statut {
        min-width: 35vh;
    }
    .taches {
        min-width: 25vh;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1300px) {
    .statut {
        width: 28vh;
    }
    .taches {
        min-width: 25vh;
        margin: 5px;
        height: auto;
    }
}

@media screen and (min-width: 901px) and (max-width: 1199px) {
    .statut {
        width: 24vh;
    }
    .taches {
        min-width: 23vh;
        margin: 0;
        height: auto;
    }
}

/* responsive 900 */
@media (max-width: 900px) {
    #BtnAllumer {
        visibility: visible;
    }

    .statut {
        width: 50%;
    }

    section .statut {
        position: absolute;
        visibility: hidden;
    }
}

@media (max-width: 600px) {
    .statut {
        width: 80%;
    }
}