@import url('app.css');

/*header*/

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

nav {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px 25px;

}

.nav-icon {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding-right: 20px;
}

.nav-icon span {
    font-size: 25px;
    margin-left: 10px;
    font-weight: 400;
    color: var(--clr-black);
    transition: all 0.3s ease-in-out;
}

.nav-icon span:hover {
    letter-spacing: 1px;
}

.nav-icon img {
    width: 60px;
    /*transform: rotate(-17deg) translateX(5px);*/
}

.hamburger {
    display: none;

}

.navlinks-container a {
    margin: 0 10px;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: var(--clr-black);
    position: relative;
}

.nav-authentication {
    margin-left: auto;
}

#presentation-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#presentation-header h1 {
    text-transform: uppercase;
    text-align: center;
    color: var(--clr-yellow);
    font-size: 25px;
}

#presentation-header p {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: justify;
    font-weight: bold;
    color: var(--clr-black);
}

/*******Presentation**********/
#presentation-container {
    background-color: var(--clr-black);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.25);
    height: 100%;
}

#presentation-container h2 {
    color: var(--clr-first);
    margin: 50px;
    font-size: 20px;
    align-items: start;
}

.Explication {
    width: 100%;
}

#para {
    transition: opacity 0.5s;
    color: var(--clr-first);
    text-align: justify;
}

.Btn{
  left: 50%;
  transform: translateX(-50%);
}

/*fonctionnement*/
#fonctionnement {
    padding-bottom: 50px;
}

#fonctionnement p {
    color: var(--clr-first);
    cursor: pointer;
}

#fonctionnement img {
    height: 300px;
    width: 500px;
}

.box {
    height: 100px;
    width: 250px;
    padding: 20px;
    margin: 10px;
    text-align: justify;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-dark);
    border-radius: 15px;
}

.play {
    box-shadow: 0 0 15px 4px rgba(232, 237, 223, 0.3);
    transition: 0.3s ease-in-out;
}

/******Avantage******/
#avantage {
    width: auto;
}

#avantage strong {
    color: var(--clr-yellow);
}

#avantage img {
    width: 600px;
    height: 400px;
}

#avantage>div {
    margin: 100px 0 100px 0;
}

#avantage p {
    text-align: center;
    font-size: 22px;
}

/**** Top boutton ******/
#topButton {
    visibility: hidden;
    position: fixed;
    bottom: 1.2rem;
    right: 1.5rem;
    cursor: pointer;
    padding: 20px;
    outline: none;
    border-radius: 50%;
    font-size: 1.5rem;
    transition: ease-in-out 0.3s;
    z-index: 100;
}

#topButton:hover {
    background-color: var(--clr-yellow);
}

#arrow {
    color: var(--clr-black);
    background-color: var(--clr-yellow);
    padding: 20px;
    border-radius: 40%;

    transition: all ease-in-out 0.3s;
}

#arrow:hover {
    color: var(--clr-black);
    background-color: var(--clr-yellow);
    border-radius: var(--border-radius);
    transform: rotate(360deg);
}

footer{
    background-color: var(--clr-black);
    width: 100%;
    height: 20%;
    color: var(--clr-first);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer p {
    font-size: 20px;
}

footer a {
    color: var(--clr-yellow);
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 900px) {

    /*container*/
    .column {
        flex-direction: column;
        align-items: center;
    }

    .row {
        flex-direction: column;
        align-items: center;
    }

    /*header*/
    nav {
        padding: 15px 20px;
        position: relative;
    }

    /* nav */
    .nav-icon {
        order: 2;
        margin: 0 auto;
    }

    .nav-icon span {
        font-size: 22px;
    }

    .main-navlinks {
        order: 1;
        width: auto;
    }

    /* hamburger */
    .hamburger {
        width: 20px;
        height: 20px;
        cursor: pointer;
        border: none;
        display: flex;
        align-items: center;
        position: relative;
        background-color: var(--clr-first);
    }

    .hamburger span {
        display: block;
        width: 100%;
        height: 2px;
        background: var(--clr-black);
        position: absolute;
        pointer-events: none;
        transition: opacity 0.3s 0.15s ease-out;
    }

    .hamburger span:nth-child(1),
    .hamburger span:nth-child(3) {
        transition: transform 0.3s ease-out;
    }

    .hamburger span:nth-child(1) {
        transform: translateY(7px);
    }

    .hamburger span:nth-child(3) {
        transform: translateY(-7px);
    }

    .hamburger.open span:nth-child(1) {
        transform: translate(0) rotate(135deg);
    }

    .hamburger.open span:nth-child(2) {
        opacity: 0;
        transition: opacity 0s ease-out;
    }

    .hamburger.open span:nth-child(3) {
        transform: translate(0) rotate(-135deg);
    }

    .navlinks-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        background: var(--clr-second);
        top: 100%;
        left: 0;
        transform: translate(-100%);
        height: 100vh;
        padding: 15px 50px 15px 20px;
        border-right: 1px solid var(--clr-second);
        /*ligne horizontal*/
    }

    .open {
        transform: translate(0%);
    }

    .navlinks-container a {
        font-size: 18px;
        margin: 10px 0px;
    }

    .nav-authentication {
        order: 3;
        margin-left: 0;
    }

    #presentation-header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #presentation {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    #SVG {
        width: 350px;
        height: 250px;
    }

    header #Btn-begin {
        z-index: -1;
    }

    #presentation-container h2 {
        font-size: 15px;
        margin-bottom: 0px;
    }

    #presentation-container {
        height: auto;
    }

    #fonctionnement img {
        margin-top: 50px;
        height: 150px;
        width: 250px;
    }

    #presentation-container h2 {
        margin: 20px;
    }

    #avantage img {
        width: 300px;
        height: 200px;
    }

    #avantage>div {
        margin: 50px 0 50px 0;
    }

    #avantage div:nth-child(2) {
        flex-direction: column-reverse;
    }

    #avantage p {
        text-align: center;
        font-size: 18px;
    }
}