/*@tailwind base;
@tailwind components;
@tailwind utilities;*/

/*************Police*************************/
@import url('https://fonts.cdnfonts.com/css/noto-sans-rejang');

/*************Variable Couleur**************/
:root {
    --clr-first: #E8EDDF;
    --clr-second: #CFDBD5;
    --clr-black: #333533;
    --clr-yellow: #F5CB5C;
    --clr-dark: #242423;
    --container-width: 1000px;
    --container-padding: 20px;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* Ajoute une animation de défilement fluide */
html {
    scroll-behavior: smooth; 
}

body {
    height: 100%;
    width: 100%;
    font-family: 'Noto Sans Rejang', arial;
    background: var(--clr-first);
    color: var(--clr-black);
}

html,
body,
.full-height {
    height: 100%;
    min-height: 100% !important;
}

header,
section {
    height: 100%;
    width: 100%;
}

h1,
h2,
h3 {
    color: var(--clr-black);
}

/**********container**************/
.container {
    width: calc(100% - var(--container-padding)*2);
    box-sizing: border-box;
    max-width: calc(var(--container-width) - var(--container-padding));
    margin: 0px auto;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.container-fluid {
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    padding-left: calc(50% - var(--container-width)/2 + var(--container-padding)*2);
    padding-right: calc(50% - var(--container-width)/2 + var(--container-padding)*2);
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

@media only screen and (max-width: 1000px) {
    .container-fluid {
        padding-left: 40px;
        padding-right: 40px;
    }
}

/*************Container**************/

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}



/**************souligage************/

.soulignage {
    cursor: pointer;
    position: relative;
    text-decoration: none;
    /* Couleur du texte de base */
}

.soulignage::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    /* Ajustez la valeur pour définir l'épaisseur du soulignage */
    width: 100%;
    height: 3px;
    /* Ajustez la valeur pour définir l'épaisseur du soulignage */
    background-color: var(--clr-yellow);
    /* Couleur du soulignage */
    transform: scaleX(0);
    /* L'animation commence avec une largeur de 0 */
    transform-origin: center;
    transition: transform 0.3s ease;
    /* La transition crée l'effet d'animation */
}

/* Animation du soulignage au survol */
.soulignage:hover::after {
    transform: scaleX(1);
    /* Le soulignage s'élargit jusqu'à la largeur du texte */
}
