@import url(app.css);
@import url(dashboards/aside.css);
@import url(dashboards/section.css);

.container-dashboard{
    margin : 10px;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
}

.lien{
    margin: 0.5rem;
}

.Btn-small{
    margin: 0.5rem;
}

.formulaire_profil{
    margin: 5px;
}

.formulaire_profil input{
    margin: 5px;
    width: 30%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    transition: border-color 0.3s ease-in-out;
}

.formulaire_profil input:focus{
    outline: none;
    border-color: #3490dc; /* Couleur de soulignement lorsqu'en focus */
}

.alignerInput{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.Btn-small{
    left: 50%;
    transform: translateX(-50%);
}

.section-register{
    background: var(--clr-second);
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 1rem;
}

/****panel*******/
.panel{
    display: flex;
    flex-direction: row;
}

p{
    color: var(--clr-police);
}

@media (max-width: 900px) {
    .panel{
        flex-direction: column;
    }

    .panel > aside{
        width: 100%;
    }

    .formulaire_profil input{
        width: 90%;
    }
    .Btn-small{
        margin: 0;
        margin-top: 0.2rem;
    }
}