@import url('app.css');

.identification{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--clr-first);
}

.nav-icon{
    padding-bottom: 1.5rem;
}

.Login {
    background-color: var(--clr-black);
    padding : 50px;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    color: var(--clr-first);
    margin-bottom: 1.5rem;
}

.Login form div {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.Login form div a {
    margin: 1.5rem;
    color: var(--clr-first);
    text-decoration: none;
}

.Login label { 
    color: var(--clr-first);
}

.Login input{
    margin: 5px;
    padding: 5px;
    border: 2px solid var(--clr-black);
    border-radius: 15px;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.Login form button {
    text-align: center;
    display: block;
    height: 50px;
    width: 200px;
    font-size: 1.3rem;
    font-weight: 700;
    position: relative;
    color: var(--clr-black);
    border: 2px solid var(--clr-yellow);
    background: var(--clr-yellow);
    overflow: hidden;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    transition: all .5s;
}

.Login form button:hover {
    background-color: var(--clr-black);
    color: var(--clr-yellow);
}

#register{
    color: var(--clr-first);
    text-decoration: none;
}
